.window {
  display: block;
  margin: 0 auto 1.5em auto;
  box-shadow: 0 5px 9px 0 rgba(0,0,0,0.15), 0 3px 10px 0 rgba(0,0,0,0.19);
  overflow: hidden;
}

.border {
  border: 1px solid grey;
}

.input-container {
  width: 100%;
  height: 2rem;
  marginBottom: 1rem;
}

input.input {
  width: 100%;
  height: 2rem;
  padding-left: 8px;
  webkitAppearance: textfield;
  border: 1px solid grey;
  border-radius: 4px;
  font-size: 14px;
}

.interactive {
  /* max-width: 100%; */
}

.interactive {
  font-family: 'Helvetica Neue','Segoe UI','Helvetica','Arial',sans-serif;
  font-weight: normal;
  font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

svg.cartesian {
  display:flex;
}

/* Flip the vertical axis in <g> to emulate cartesian. */
svg.cartesian {
  transform: scaleY(-1);
}

/* Re-flip all <text> element descendants to their original side up. */
svg.cartesian > g text {
  transform: scaleY(-1);
}

text.element {
  fill: #333333;
  stroke: none;
}

path.element, line.element, rect.element, ellipse.element, circle.element, polygon.element{
  stroke:#404040;
  stroke-width:1px;
  fill:none;
}

.control > :first-child {
  fill:#0366EE;
  stroke:none;
}

.control > :nth-child(2) {
  fill:transparent;
  stroke: #0366EE;
  stroke-width:2px;
  opacity:0;
}

.control > .highlight {
  opacity:1;
}

.icon {
  width: 1rem;
  height: 1rem;
}

.button text {
  font-weight: 400;
}

.button rect {
  fill: #555555;
}

.button:hover rect {
  fill: #333333;
}

.button text {
  fill: #ffffff;
}
.grid line {
  vector-effect: non-scaling-stroke;
}

.feature path {
  vector-effect: non-scaling-stroke;
}
