.window {
  display: block;
  margin: 0 auto 1.5em auto;
  box-shadow: 0 5px 9px 0 rgba(0,0,0,0.15), 0 3px 10px 0 rgba(0,0,0,0.19);
  overflow: hidden;
}

.border {
  border: 1px solid grey;
}

.input-container {
  width: 100%;
  height: 2rem;
  marginBottom: 1rem;
}

input.input {
  width: 100%;
  height: 2rem;
  padding-left: 8px;
  webkitAppearance: textfield;
  border: 1px solid grey;
  border-radius: 4px;
  font-size: 14px;
}

.interactive {
  max-width: 100%;
}

.interactive {
  font-family: 'Helvetica Neue','Segoe UI','Helvetica','Arial',sans-serif;
  font-weight: normal;
  font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

text.element {
  fill: #333333;
  stroke: none;
}

path.element, line.element, rect.element, ellipse.element, circle.element {
  stroke:#404040;
  stroke-width:1px;
  fill:none;
}

.default text {
  fill: #333333;
  stroke: none;
}

.control-point {
  fill:#0366EE;
  stroke:none;
}

.control-handle {
  fill:transparent;
  stroke: #0366EE;
  stroke-width:2px;
  opacity:0;
}

.control-handle.highlight {
  opacity:1;
}

.button rect {
  fill: #555555;
}

.button:hover rect {
  fill: #333333;
}

.button text {
  fill: #ffffff;
}
