
.window, .border {
  display: block;
  margin: 0 auto 1.5em auto;
  overflow: hidden;
  border-radius: 6px;
}

.window {
  box-shadow: 0 5px 9px 0 rgba(0,0,0,0.15), 0 3px 10px 0 rgba(0,0,0,0.19);
}

.border {
  border: 1px solid grey; border-radius: 6px; display:block; margin:auto;
}

.interactive {
  margin: 0 auto 1.5rem;
  display: block;
  max-width: 100%;
}

svg {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  font-color: #404040;
  font-family: monospace, -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
}

.default {
  stroke:#404040;
  stroke-width:1px;
  fill:none;
}

text {
  font-style: monospace;
  font-weight: normal;
  font-family: monospace, -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.control-point {
  fill:#0366EE;
  stroke:none;
}

.control-handle {
  fill:transparent;
  stroke: #0366EE;
  stroke-width:2px;
  opacity:0;
}

.control-handle.highlight {
  opacity:1;
}
