{{ define "resources" }}
<script type="text/javascript" src="/js/aside.js"></script>
{{ end }}
{{ define "body" }}
{{ partial "hero" . }}
<section class="aside container">
  <div class="aside-container">
    <aside>
      <a href="#"><h1>{{.Title}}</h1></a>
      {{ with .Params.Aside }}
      <ul>
          {{ range . }}
            {{ $heading := urlize . }}
            {{ $src := (print "/icons/" (print $heading ".svg")) }}
            {{if fileExists (print "static" $src ) }}
            <li><a class="aside-link" href="#{{ $heading }}"><img src="{{ $src }}" alt="{{.}}">{{ . }}</a></li>
            {{ else }}
            <li><a class="aside-link" href="#{{ $heading }}"><img src="/icons/icon.svg" alt="{{.}}">{{ . }}</a></li>
            {{end}}
          {{ end }}
      </ul>
      {{ else }}
        {{ errorf "Failed to find aside parameter" }}
      {{ end }}
      {{ with .Params.Modules }}
      <ul>
        <li>Modules</li>
          {{ range . }}
            {{ $heading := urlize . }}
            {{ $src := (print "/icons/" (print $heading ".svg")) }}
            {{if fileExists (print "static" $src ) }}
            <li><a class="aside-link" href="#{{ $heading }}"><img src="{{ $src }}" alt="{{.}}">{{ . }}</a></li>
            {{ else }}
            <li><a class="aside-link" href="#{{ $heading }}"><img src="/icons/icon.svg" alt="{{.}}">{{ . }}</a></li>
            {{end}}
          {{ end }}
      </ul>
      {{ else }}
        {{ errorf "Failed to find aside parameter" }}
      {{ end }}
    </aside>
  </div>
  <main class="medium-container" id="main-content">
    {{ .Content }}
  </main>
</section>
{{ end }}
