// /* Layout
//   =============== */
//
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  margin: auto;
}

footer {
    flex-shrink: 0;
    margin-top:100px;
		height: 150px;
    // border-top: 1px solid gray;
    background: $background;
}

#footer-message {
  padding-top: 16px;
}

.test-nav {
  background: $background;
}

.documentation {
  background: $background;
}
