/* Navigation
  =============== */

section.documentation main {
  padding: 0 1rem;
}

header {
  padding:60px 0px;
  // background: #f8f8f8;
  border-bottom:1px solid #dddddd;
}

.flex-container {
  display: flex;
}

.aside-container {
  // width:100%;
  position: static;
}

.aside-link {
  color: $font-color;
}

.aside-link:hover {
  background: #f0f0f0;
  text-decoration: none;
  color: $font-color;
}

aside {
  overscroll-behavior-y: contain;
  overscroll-behavior: none;

  float:right;
  position:sticky;
  top:0;
  width: 230px;
  padding: .5rem;
  background: #ffffff;
  z-index: 2;
}

aside h1 {
    padding: 0 1rem;
    font-size: 1.3rem;
    // margin-bottom: 0 !important;
    margin-top: .8rem !important;
    letter-spacing: -.05rem;
}

aside ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

aside li a {
  padding: .25rem .5rem;
  margin: 0 .5rem;
  display: block;
}


.nav {
  width: 100%;
  background: $background;
  border-bottom: 1px solid gray;
}

.nav-container {
  display: flex;
  align-items: center;
  height: 64px;
}

.links {
  display: flex;
  flex-direction: row;
  flex: 1 1;
  justify-content: space-around;
  margin: 0 .5rem;
}

.nav-link {
  padding: 1.2rem .3rem;
}

#logo {
  height: 32px;
  height: 32px;
  vertical-align: middle;
}

.search-container{
  width: 150px;
  border-radius: 18px;
  border: 1px solid gray;
  background: #fff;
  height: 32px;
  padding: 0px 12px;
}

.search-container:focus{
  outline: none;
  border: 1px solid cornflowerblue;
}

#search::placeholder {
  color: $font-color;
}

#search {
  font-size: $font-size;
  width:100%;
  height:100%;
  border: none;
}

#search:focus {
  outline:none;
}

.result {
  font-size: 18px;
}

.result {
  font-size: 18px;
}

.link {
  padding: .5rem;
  border-bottom: 1px solid $border-color;
  text-decoration: none;
}

.link .flex-small {
  margin-bottom:0px;
}

a.link p {
  display: none;
  color: $font-color;
}

.link:hover {
  background: $highlight;
  text-decoration: none;
}

.link:active {
  text-decoration: none;
}

.link:focus {
  text-decoration: none;
}

@include small-breakpoint {

  a.link p {
    display: block;
  }
}
