.DS_Store
node_modules
builds
cache
types
docs
dist
lib
source/**/*.js
source/**/*.map.js

# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
website/.yarn/*
!website/.yarn/releases
!website/.yarn/plugins
!website/.yarn/sdks
!website/.yarn/versions