
body {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #404040;
}

#root {
  background: var(--background);
  display: block;
  margin: auto;
  /* max-width: 720px; */
  /* max-width: 432px; */
  padding: 1rem;
}