<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Vector.js</title>
  <meta name="description" content="{{.Description}}" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon' href='/favicon.png"/>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  {{ partial "style.html" . }}
  {{ partial "analytics.html" . }}
  {{ block "resources" . }}
  {{ end }}
  <link rel="stylesheet" type="text/css" href="/library.css">
</head>
<body>
{{ block "body" . }}
{{ partial "hero" . }}
<main class="medium-container">
{{ block "main" . }}
{{ end }}
</main>
{{ end }}
</body>
</html>
