{{ define "resources" }}
<script type="text/javascript" src="/js/aside.js"></script>
{{ end }}
{{ define "body" }}
{{ partial "hero" . }}
<section class="aside container">
  <div class="aside-container">
    <aside>
      <a href="#"><h1>{{.Title}}</h1></a>
      <ul>
        {{ range .Pages }}
          {{ $heading := urlize .Title }}
          {{ $title := .Title }}
          {{ $src := (print "/icons/" (print $heading ".svg")) }}
          {{if fileExists (print "static" $src ) }}
          <li><a class="aside-link" href="#{{ $heading }}"><img src="{{ $src }}" alt="{{$title}}">{{ $title }}</a></li>
          {{ else }}
          <li><a class="aside-link" href="#{{ $heading }}"><img src="/icons/icon.svg" alt="{{$title}}">{{ $title }}</a></li>
          {{end}}
        {{ end }}
      </ul>
    </aside>
  </div>
  <main class="medium-container" id="main-content">
    <h1>{{.Title}}</h1>
    {{ .Content }}
    {{ range .Pages }}
      <h2 id="{{ urlize .Title }}">{{.Title}}</h2>
      {{ .Render "content" }}
    {{ end }}
  </main>
</section>
{{ end }}
