
<div class="ex-window margin-bottom">
  <style>
  .ex-window {
    display: block;
    height:350px;
    border: 1px solid #dddddd;
    border-radius: 8px 8px 0 0;
    overflow:visible;
  }
  .ex-window .area {
    width:100%;
    height:100%;
  }
  .ex-window . {
    resize: horizontal;
  }
  .ex-window .header {
    background:#fafafa;
    height:40px;
    border-radius: 8px 8px 0 0;
  }
  .ex-window .document {
    border-top:1px solid #dddddd;
    height:100%;
    width:100%;
  }
  </style>
  <div class="area">
    <div class="container">
      <div class="header">
      </div>
      <div class="document">
      </div>
      </div>
  </div>
</div>