:root {

  /* color scheme */
  --background: #ffffff;
  --light1: #f0f0f0;
  --light2: #d0d0d0;
  --light3: #a0a0a0;

  /* contrast */
  --main: #404040;

  /* contrast colors */
  --primary: #485bfc;
  --secondary: #4bb77e;
  --tertiary: #c74440;

  /* colors */
  --coral: hsl(23, 83%, 82%);
  --coral--b: hsl(23, 99%, 75%);
  --pink: hsl(335, 10%, 45%);
  --pink--b: hsl(335, 82%, 86%);
  --yellow: hsl(42, 97%, 85%);
  --yellow--b: hsl(42, 100%, 73%);
  --green: hsl(100, 64%, 86%);
  --green--b: hsl(100, 41%, 76%);
  --blue: hsl(187, 61%, 79%);
  --blue--b: hsl(187, 54%, 68%);
  --purple: hsl(282, 29%, 28%);
  --purple--b: hsl(283, 43%, 80%);
  --light-gray-blue: hsl(182, 29%, 96%);
}

.non-scaling-stroke {
  vector-effect: non-scaling-stroke;
  stroke-width: 1px;
}

.interactive {
  font-weight: normal;
  font-size: 1rem;
  box-sizing: content-box;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

.interactive text.default,
.interactive span.default {
  fill:var(--main);
  stroke: none;
}

svg.interactive {
  display: block;
}

svg.responsive {
  width: 100%;
  height: auto;
  display: block;
}

.overflow-container {
  overflow: hidden;
}

.outline {
  fill: none;
  stroke: var(--main);
  stroke-width: 1px;
}

.monospace {
  font-family: 'Inconsolata', monospace;
  font-size: 1rem;
}

.text, .tspan {
  fill: var(--main);
  user-select: none;
}

div.display-box {
	display: grid;
	align-items: center;
	background:#fafafa;
	border: 1px solid #dddddd;
	border-radius: 5px;
	margin: 0.5rem 0;
}

.text-middle {
	dominant-baseline: middle;
	alignment-baseline: middle;
	text-anchor: middle;
}

.katex-main {
	font-family:'KaTeX_Main', 'KaTeX_Main-Regular';
	fill:var(--main);
	font-size:20px;
}

.katex-variable {
  font-family:'KaTeX_Math', 'KaTeX_Main-Italic';
  font-style:italic;
	font-size:20px;
}

.window {
  display: block;
  margin: 0 auto 1.5em auto;
  box-shadow: 0 5px 9px 0 rgba(0,0,0,0.15), 0 3px 10px 0 rgba(0,0,0,0.19);
  overflow: hidden;
  border-radius: 5px;
}

.animation-main {
  overflow: hidden;
  border: 1px solid #dddddd;
}

.animation-root {
	display:block;
	margin:auto;
	min-width: 288px;
}

.animation-canvas {
	display:grid;
	place-items:center;
}

.animation-button  {
	height:2rem;
	width:2rem;
	background: #808080;
}

.animation-button:hover {
	fill: var(--main);
}

.animation-controls {
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	border-top: 1px solid #dddddd;
}

.animation-slider {
	display: block;
	width:100%;
	margin: 0 .5rem;
}

.border {
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.hard-border {
  border: 1px solid #aaaaaa;
}

.input-container {
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
}

input.input {
  width: 100%;
  height: 2rem;
  padding-left: 8px;
  webkitAppearance: textfield;
  border: 1px solid grey;
  border-radius: 4px;
  font-size: 14px;
}



.default * {
  stroke: var(--main);
  /* stroke-width:1px; */
  fill:none;
}

circle.default,
ellipse.default,
line.default,
path.default,
polygon.default,
rect.default {
  stroke:var(--main);
  stroke-width:1px;
  fill:none;
}

.default text,
.default tspan {
  fill:var(--main);
  stroke: none;
}

.grid {
  display: block;
}

.plot .grid line {
  /* stroke:var(--light1); */
}

.plot path,
.plot line,
.plot rect {
  /* stroke:var(--main); */
  /* stroke-width:1px; */
  fill:none;
}

.control .point {
  fill:var(--primary);
  stroke:none;
}

.control .handle {
  fill:transparent;
  stroke: var(--primary);
  stroke-width:2px;
  opacity:0;
}

.control .highlight {
  opacity:1;
}

.checkbox rect {
  fill:#f2f2f2;
  stroke:#333333;
  stroke-width:1px;
}

.slider line {
  stroke:#333333;
  stroke-width:1px;
}

.icon {
  width: 1rem;
  height: 1rem;
}

.button text {
  font-weight: 400;
}

.button rect {
  fill: #555555;
}

.button:hover rect {
  fill: #333333;
}

.button text {
  fill: #ffffff;
}

.grid line {
  vector-effect: non-scaling-stroke;
}

.feature path {
  vector-effect: non-scaling-stroke;
}

.node circle{
  stroke: #333333;
}

.node ellipse{
  stroke: #333333;
}

.dropdown-control-button rect {
  fill: #DAD9DC;
  stroke-width:1;
  stroke: black;
}

.dropdown-control-button:hover rect,
.dropdown-control-button:hover path {
  fill: #C7C1C1;
}

.dropdown-control-curr-selection-box rect {
  fill: white;
  stroke-width:1;
  stroke: black;
}

.dropdown-control-curr-selection-box:hover rect,
.dropdown-control-button:hover text {
  fill: #C7C1C1;
}

.dropdown-control-menu-option rect {
  fill: white;
  stroke-width:1;
  stroke: black;
}

.dropdown-control-menu-option:hover rect,
.dropdown-control-button:hover text {
  fill: #C7C1C1;
}
