{{ define "body" }}
{{ partial "hero" . }}

<section class="container">
	<script>
	  window.WebFontConfig = {
	    custom: {
	      families: ['KaTeX_AMS', 'KaTeX_Caligraphic:n4,n7', 'KaTeX_Fraktur:n4,n7',
	        'KaTeX_Main:n4,n7,i4,i7', 'KaTeX_Math:i4,i7', 'KaTeX_Script',
	        'KaTeX_SansSerif:n4,n7,i4', 'KaTeX_Size1', 'KaTeX_Size2', 'KaTeX_Size3',
	        'KaTeX_Size4', 'KaTeX_Typewriter'],
	    },
	  };
	</script>
	<script defer src="https://cdn.jsdelivr.net/npm/webfontloader@1.6.28/webfontloader.js" integrity="sha256-4O4pS1SH31ZqrSO2A/2QJTVjTPqVe+jnYgOWUVr7EEc=" crossorigin="anonymous"></script>
	<link href="/css/mocha.css" rel="stylesheet"/>
	<script src="https://unpkg.com/mocha@4.0.1/mocha.js"></script>
	<style media="screen">
		.test-container {
			margin-bottom: 1.5rem;
		}
		.test-section {
			height: 100%;
	    margin: 60px 50px;
			max-width: 1024px;
		}
	</style>
	<div id="mocha" class="container"></div>
	<script type="module" src="/tests/setup.js"></script>
	<script type="module" src="/tests/run.js"></script>
	<div id="tests" class="test-section"></div>
</section>

{{ end }}
