.menu {
  height: 3rem;
  border-bottom: 1px solid #404040;
  background: #e7eaed;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.sandbox {
  border-radius: 6px;
  border: 1px solid #404040;
  width: 1400px;
  max-width: 100%;
}

.sandbox-grid {
  display: grid;
  grid-template-columns: 628px auto;
  height: 630px;
  width: 100%;
}

.canvas {
  background: white;
  border-bottom-right-radius: 6px;
  border-left: 1px solid #404040;
}

.editor {
  border-bottom-right-radius: 6px;
}
