
:root {
--coral: hsl(23, 83%, 82%);
--coral--b: hsl(23, 99%, 75%);
--pink: hsl(335, 52%, 92%);
--pink--b: hsl(335, 82%, 86%);
--yellow: hsl(42, 97%, 85%);
--yellow--b: hsl(42, 100%, 73%);
--green: hsl(100, 64%, 86%);
--green--b: hsl(100, 41%, 76%);
--blue: hsl(187, 61%, 79%);
--blue--b: hsl(187, 54%, 68%);
--purple: hsl(283, 24%, 86%);
--purple--b: hsl(283, 43%, 80%);
--light-gray-blue: hsl(182, 29%, 96%);
}

.coral {
background-color: var(--coral);
border: 1px solid var(--coral--b);
}

.pink {
background-color: var(--pink);
border: 1px solid var(--pink--b);
}

.yellow {
background-color: var(--yellow);
border: 1px solid var(--yellow--b);
}

.green {
background-color: var(--green);
border: 1px solid var(--green--b);
}

.blue {
background-color: var(--blue);
border: 1px solid var(--blue--b);
}

.purple {
background-color: var(--purple);
border: 1px solid var(--purple--b)
}

.white {
background-color: white;
}

.ex-section {
height: 400px;
margin-bottom: 1.5rem;
}

.ex-area {
width:100%;
height:100%;
}
.ex-container {
	resize: both;
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
	z-index: 2;
	box-shadow: 0 0 20px -10px hsl(187, 97%, 24%);
	display: grid;
	align-items: center;
	background: white;
	max-width:720px;
	max-height:400px;
}

.ex-container.fixed {
	resize:horizontal;
}

.parent {
	width: 100%;
	height: 100%;
}

.ex-container .section {
	font-size: 1rem;
	padding: 1rem;
	border-style: dashed;
}

.ex4 .parent {
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.ex3 .parent {
  display: grid;
  grid-template-columns: minmax(150px, 25%) 1fr;
}
