<header class="text-center">
	<div class="small-container">
    <a href="/"><h1>Vector.js</h1></a>
		<p>Vector is an open source javascript library for creating interactive graphics. View the <a href="{{.Site.Params.RepositoryURL}}" target="_blank" rel="noreferrer">repository</a>, run the <a href="/tests/">tests</a>, or meet the <a href="/team/">team</a>.</p>
    <p>
			<a href="/examples/"><button class="muted-button">Examples</button></a>
      <a href="/tutorials/"><button class="muted-button">Tutorials</button></a>
    </p>
	</div>
</header>
