<section class="test-nav" style="border-bottom:1px solid #dddddd;">
 <div style="height:64px; width:1020px; margin:auto; padding: .5rem;">
   <a href="/"><img src="/logo-dark.svg" alt="" style="margin: 0 1rem; width:42px" ></a>
   <button class="muted-button" style="margin-bottom:1.5rem;" >Examples</button>
 </div>
</section>

<!-- <section class="test-nav" style="border-bottom:1px solid #dddddd;">
 <div style="height:48px; width:1020px; margin:auto; padding: .5rem;">
   <a href="/"><img src="/logo-dark.svg" alt="" style="margin: 0 1rem; width:32px" ></a>
   <a href="/"><img src="/more.svg" alt="" style="margin: 0 1rem; width:32px; float:right;" ></a>
 </div>
</section> -->
